
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Inter', sans-serif;
}
.flex-container{
    display: flex;
    width: 1140px;
    margin: auto;
}
.flex-item{
    width: 50%;
    margin: 0px 2%;
}
section{
    margin-bottom: 70px;
}
.banner{
    height: 90vh;
    background-image: linear-gradient(90deg,#00000080, #0000003d),url(images/banner.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.button-style{
    background-color: #EF233C;
    padding: 10px 15px;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
}
.banner-description h1 {
    color: #fff;
    font-size: 55px;
}
.banner-description {
    margin-top: 65px;
}

.banner-description p {
    color: #fff;
    font-size: 18px;
    margin-bottom: 30px;
}
.second-portion-image{
    width: 450px;
    height: 470px;
    background-image: url(images/image\ 1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 5px;
}
.second-portion-image{
    position: relative;
}
.second-portion-image img {
    top: 37%;
    position: absolute;
    left: 37%;
}
.second-portion-image img {
    top: 37%;
    position: absolute;
    left: 37%;
}
.second-portion-description {
    margin-top: 35px;
}
.second-portion-description h1 {
    font-size: 45px;
}
.second-portion-description p {
    font-size: 18px;
}
.title {
    text-align: center;
    padding-bottom: 30px;
}
.title h1 {
    font-size: 45px;
}
.title p {
    font-size: 18px;
}
.third-portion-description {
    display: flex;
    justify-content: space-between;
}
.third-portion-description .image {
    margin-top: 20px;
}
.third-portion-description {
    display: flex;
    justify-content: space-between;
    background: #FEF4F5;
    border-radius: 5px;
    padding: 30px;
}
.third-portion-wrapper {
    margin-bottom: 50px;
}
.content h1 {
    font-size: 20px;
}
.content p {
    font-size: 18px;
}
.content {
    margin-left: 15px;
}
.flex-item-2{
    width: 34%;
}